extends layout.pug

block content

  article.portfolio-intro
    h1 The Portest of Folios 
    p With this portfolio of projects, I hope to document my growth as a developer.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects  
        .cell
          a(href=`/project/${project.id}`)
            img(class=`${project.project_name}` src=`${project.image_urls[0]}` alt=`${project.project_name}`)
            h5 #{project.project_name}

